* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MadimiOne;
    src: url('./fonts/mada/MadimiOne-Regular.ttf') format('truetype');
    font-weight: 900; 
}

@font-face {
    font-family: Mada-Black;
    src: url('./fonts/mada/Mada-Black.ttf') format('truetype');
    font-weight: 900; 
}

@font-face {
    font-family: Mada-Bold;
    src: url('./fonts/mada/Mada-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Mada-SemiBold;
    src: url('./fonts/mada/Mada-SemiBold.ttf') format('truetype');
    font-weight: 600; 
}

@font-face {
    font-family: Mada-Medium;
    src: url('./fonts/mada/Mada-Medium.ttf') format('truetype');
    font-weight: 400; 
}

@font-face {
    font-family: Mada-Regular;
    src: url('./fonts/mada/Mada-Regular.ttf') format('truetype');
    font-weight: 300; 
}

@font-face {
    font-family: Mada-Light;
    src: url('./fonts/mada/Mada-Light.ttf') format('truetype');
    font-weight: 200; 
}

@font-face {
    font-family: Mada-ExtraLight;
    src: url('./fonts/mada/Mada-ExtraLight.ttf') format('truetype');
    font-weight: 100; 
}

:root {
    --white: #F5F5F5;
    --medium-gray: #D9D9D9;
    --dark-blue: #144774;
    --medium-blue: #336FA5;
    --light-blue :#9ECAE3;
}
body {
    padding: 30px 10px;
    background-color: var(--white);
}

body.escurecer::before{
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
}

body.dark-mode {
    background-color: var(--dark-blue);
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile button {
    background: none;
    border: none;
    width: fit-content;
}

.header-mobile button img {
    width: 95px; 
    cursor: pointer;
}

.header-mobile nav {
    position: fixed;
    background-color: var(--white);
    right: -16rem;
    top: 0;
    height: 100vh;
    width: 16rem;
    z-index: 999;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.5s;
}

.header-mobile nav.abrir {
    right: 0;
}

.header-mobile nav button {
    margin-top: 25px;
    margin-left: -15px;
    margin-bottom: 2rem;
}

.header-mobile nav a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 20px;
    font-family: 'Mada-SemiBold';
    cursor: pointer; 
}

.header-mobile nav a:hover {
    background-color: var(--dark-blue);
    color: var(--medium-gray);
}

.logo-mobile {
    max-width: 180px;
    display: flex;
    margin-top: -125px;
    margin-left: 80px;
}

.linha-separadora {
    height: 1px;
    background-color: var(--dark-blue);
    margin: 5px 0 10px;
}

.icone-lua {
    max-width: 100px;
}

body.dark-mode .icone-lua {
    content: url('./imagens/icone-sol.png');
}

body.dark-mode .menu-hamburguer {
    content: url('./imagens/menu-hamburguer-mn.png');
}

.header-desktop {
    display: none;
}

h1 {
    font-family: MadimiOne;
    font-size: 20px;
    color: var(--dark-blue);
    text-align: center;
    margin: 30px 0px;
}

body.dark-mode h1 {
    color: var(--medium-gray);
}

h2 {
    font-family: Mada-SemiBold;
    font-size: 18px;
    color: var(--medium-blue);
    text-align: center;
    margin-bottom: 14px;
}

body.dark-mode h2 {
    color: var(--light-blue);
}

h3 {
    font-family: Mada-Light;
    font-size: 20px;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 12px;
}

body.dark-mode h3 {
    color: var(--white);
}

strong {
    font-family: Mada-Bold;
}

p   {
    font-family: Mada-Medium;
    font-size: 18px;
    color: var(--dark-blue);
}

body.dark-mode p {
    color: var(--white);
}

section img {
    width: 300px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.bloco {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px auto;
    padding: 0 16px;
    text-align: justify;
  }

  .bloco.invertido {
    flex-direction: column;
  }

  .bloco.invertido h2,
  .bloco.invertido h3 {
    text-align: center;
  }

@media(min-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }

    #container {
        max-width: 1440px;
        margin: 0 auto;
        background-color: var(--white);
        min-height: 100vh;
    }

    body.dark-mode {
        background-color: #fff;
    }

    body.dark-mode #container {
        background-color: var(--dark-blue);
    }

    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: block;
    }
    
    .logo-desktop {
        width: 240px;
        display: flex;
        transform: translate(25px, -3px);
    }

    .header-desktop {
        background-color: var(--dark-blue);
        height: 130px;
    }

    body.dark-mode .header-desktop {
        background-color: var(--medium-blue);
    }

    .header-desktop nav {
        display: flex;
        align-items: center;
        gap: 4.5rem;
        margin-top: -90px;
        margin-left: 265px;
    }

    .header-desktop nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content:space-around;
    }

    .header-desktop nav ul li {
        margin: 0 15px;
    }

    .header-desktop nav a {
        color: var(--white);
        text-decoration: none;
        font-size: 20px;
        font-family: 'Mada-SemiBold';
        padding: 10px 15px;
        display: block;
        cursor: pointer;
    }

    .header-desktop nav a:hover {
        background-color: var(--medium-gray);
        color: var(--dark-blue);
        border-radius: 30px;
        padding: 10px 15px;
    }

    .icone-lua-desktop {
        max-width: 120px;
        transform: translate(1180px, -60px);
    }

    body.dark-mode .icone-lua-desktop {
        content: url('./imagens/icone-sol.png');
    }

    .icone-perfil {
        max-width: 120px;
        transform: translate(1255px, -132px);
    }

    h1 {
        font-family: MadimiOne;
        font-size: 40px;
        color: var(--dark-blue);
        text-align: center;
        margin: 110px 0px;
    }

    body.dark-mode h1 {
        color: var(--medium-gray);
    }

    .texto {
        flex: 1;
    }

    h2 {
        font-family: Mada-SemiBold;
        font-size: 25px;
        color: var(--medium-blue);
        margin-bottom: 12px;
    }

    body.dark-mode h2 {
        color: var(--light-blue);
    }

    strong {
        font-family: Mada-Bold;
    }

    h3 {
        font-family: Mada-Light;
        font-size: 35px;
        color: var(--dark-blue);
        margin-bottom: 14px;
    }

    body.dark-mode h3 {
        color: var(--white);
    }

    p   {
        font-family: Mada-Medium;
        font-size: 25px;
        color: var(--dark-blue);
    }

    body.dark-mode p {
        color: var(--white);
    }

    section img {
        width: 500px;
        border-radius: 50px;
    }

    .bloco {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        margin: 100px auto;
        max-width: 1280px;
        padding: 0 20px;
        text-align: justify;
      }

      .bloco h2,
      .bloco h3 {
        text-align: left;
      }

      .bloco.invertido {
        flex-direction: row-reverse;
      }

      .bloco.invertido h2,
      .bloco.invertido h3 {
        text-align: right;
      }
}
